# TBC Insurance

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

# Data:
1. პოლისის ნომერი (hash) - ert adamians sheidzleba tu ar aqondes bevri polisis nomeri, 
2. წინა პოლისის ნომერი(hash) - 1 welis mere icvleba polisi, da icvleba polisis nomeri
3. დამზღ პირადი ნომერი (hash) - tanamshromelia? ramdeni tanamshromeli gkavt?  klientia vinc modis am manqanis dasazgvevad
4. დამზღვევის დაბადების თარიღი - tanamshromlis dabadebis weli? 
5. მანქანის წელი- am svetshi carieli mnishveloab nishnavs rom manqana ar aris producti
6. სედანი/ჯიპი	- manqanis tipi
7. VinCode - zustad ras nishnavs? - manqanis unikaluri kodi
8. მესაკუთრე (hash)	- dasagvevad mosuli? tu manqanis mepatrone? - tviton am manqanis mplobeli
9. Client Category (hash) - ? - 2 nairi kategoria, chveulebrivi da VIP, tu carielia chveulebrivi tipia.
10. პრემია - dazgvevis pasi? - ki ramdeni mouwevs gadaxda adamians(1weli)
11. გაუქმებული პრემია- ras nishnavs? - ramdenic ar gadaixada
12. დასრულების თარიღი	- xelshekrulebis dasasruli? - 1 weli rom gadis xelshekrulebis darulebis ttarigi,an rom ar gadaixarada
13. გაუქმების თარიღი	- xelshekrulebis dasrulebis tarigi? - canceled date(rom ar gadaixada 1 tvis ganmavlobashi gadasaxdeli vadisshemdgom)
14. ამოქმედების თარიღი	- xelshekrulebis tarigi? - registracis +1 +2 amoqmedeis targi am polisis
15. რეგისტრაციის თარიღი	- ra gansvaveba amoqmedebasa da registracias shoris? marto amoqmedeba? registracia polisis
16. სტატუსი	- პოლისის სტატუსი : 1.Active  2. Cancelled  3. Annuled ra ras nishanvs? - canceled aris rodesac ar gadaixada, danulirebuli aris rom saertod ar gadaixada dasawyisshive
17. განახლება - ras nishanvs ganaxleba? - 1 welis mere ganaxleba, xdeba. axali - nishanvss (?)
18. ვადაგადაცილებული დღე - yovel tve ixdis? da ramdeni dge gavida deadlinedan? cancelled and unnuled ra kavhsirshia - exla rra gadacileba aqvs. tu gadaixada dagvianebit mainc 0 chaewereba. vinc ar gadixada magis gadacilebuli degebi
19. პროდუქტი - ras nishanvs? - manqanis dazgveva, qonebis dazgveva, mesame pasuxismgebeli piris dazgveva.
20. პასუხისმგებელი - vin aris? - tanamsromeli vinc azvevinebs manqanas
21. პასუხისმგებლის დაბადების თარიღი	- 
22. თანამშრომლის სქესი - damzgvevsa da tanamshromels shoris ra gansvavebaa? esec pasuxismgebeli tipi
23. arxi - ?? - saaagento, vip, romeli deparamentidan ikideba.

In [3]:
data1 = pd.read_excel('TBC_Insurance.xlsx', 'Data')

In [4]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),დამზღვევის დაბადების თარიღი,დამზღვევის სქესი,მანქანის წელი,სედანი/ჯიპი,VinCode (hash),მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პროდუქტი,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,NaN,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,1980-01-16 00:00:00,ქალი,2013.0,ჰეტჩბეკი,431c1efe08a32bf6c68413502084288d6e324f3da3fe62...,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,NaN,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,MotorPackage,398842,1989-06-14,ქალი,ჯგუფი 1
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,NaN,70720759877097d63afb1e59d5f535413076b92a48e616...,1968-09-29 00:00:00,კაცი,1998.0,ჰეტჩბეკი,843ddfb4b17a8dc44dbcc165d36786798fcc253933ec29...,70720759877097d63afb1e59d5f535413076b92a48e616...,NaN,670.00,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,495614,1997-11-28,კაცი,ჯგუფი 1
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,NaN,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,1994-10-07 00:00:00,კაცი,2005.0,სედანი,d16a385eaade48a9d56e49f67b9042cafb31468c99fc8d...,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,NaN,1863.34,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,MotorPackage,529828,1991-11-03,ქალი,ჯგუფი 1
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,NaN,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,1984-01-29 00:00:00,კაცი,2014.0,სედანი,7196ee9bff091662d159a29850b3ee1d154484c5c2b927...,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,NaN,1289.04,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,553341,1998-09-20,კაცი,ჯგუფი 1
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,NaN,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,1985-11-13 00:00:00,ქალი,2013.0,მაღალი გამავლობის,997626cecc2e98440cf9273c9e508e43c86e93cdff48a3...,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,NaN,1351.61,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,27275,1996-11-05,კაცი,ჯგუფი 1

# 1 ) Feature Engineering - Data 1

## 1. წინა პოლისის ნომერი (hash)	- 1 or 0

In [5]:
data1['წინა პოლისის ნომერი (hash)'].fillna(value=0,inplace = True)

In [6]:
cond = [data1['წინა პოლისის ნომერი (hash)'] != 0]

In [7]:
data1['წინა პოლისის ნომერი (hash)'] = np.where(cond, 1, 0)[0]

In [8]:
data1['წინა პოლისის ნომერი (hash)'].value_counts()

0    5713
1      88
Name: წინა პოლისის ნომერი (hash), dtype: int64

In [9]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),დამზღვევის დაბადების თარიღი,დამზღვევის სქესი,მანქანის წელი,სედანი/ჯიპი,VinCode (hash),მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პროდუქტი,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,1980-01-16 00:00:00,ქალი,2013.0,ჰეტჩბეკი,431c1efe08a32bf6c68413502084288d6e324f3da3fe62...,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,NaN,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,MotorPackage,398842,1989-06-14,ქალი,ჯგუფი 1
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,1968-09-29 00:00:00,კაცი,1998.0,ჰეტჩბეკი,843ddfb4b17a8dc44dbcc165d36786798fcc253933ec29...,70720759877097d63afb1e59d5f535413076b92a48e616...,NaN,670.00,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,495614,1997-11-28,კაცი,ჯგუფი 1
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,1994-10-07 00:00:00,კაცი,2005.0,სედანი,d16a385eaade48a9d56e49f67b9042cafb31468c99fc8d...,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,NaN,1863.34,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,MotorPackage,529828,1991-11-03,ქალი,ჯგუფი 1
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,1984-01-29 00:00:00,კაცი,2014.0,სედანი,7196ee9bff091662d159a29850b3ee1d154484c5c2b927...,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,NaN,1289.04,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,553341,1998-09-20,კაცი,ჯგუფი 1
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,1985-11-13 00:00:00,ქალი,2013.0,მაღალი გამავლობის,997626cecc2e98440cf9273c9e508e43c86e93cdff48a3...,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,NaN,1351.61,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,27275,1996-11-05,კაცი,ჯგუფი 1

### 2. calculate age from დამზღვევის დაბადების თარიღი

In [10]:
data1['დამზღვევის დაბადების თარიღი'] = pd.to_datetime(data1['დამზღვევის დაბადების თარიღი'], errors = 'coerce')

In [11]:
data1['დამზღვევის ასაკი'] = (pd.datetime.today().year - data1['დამზღვევის დაბადების თარიღი'].dt.year)

In [12]:
data1.drop(columns='დამზღვევის დაბადების თარიღი',inplace=True)

In [13]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),დამზღვევის სქესი,მანქანის წელი,სედანი/ჯიპი,VinCode (hash),მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პროდუქტი,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი,დამზღვევის ასაკი
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ქალი,2013.0,ჰეტჩბეკი,431c1efe08a32bf6c68413502084288d6e324f3da3fe62...,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,NaN,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,MotorPackage,398842,1989-06-14,ქალი,ჯგუფი 1,39.0
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,კაცი,1998.0,ჰეტჩბეკი,843ddfb4b17a8dc44dbcc165d36786798fcc253933ec29...,70720759877097d63afb1e59d5f535413076b92a48e616...,NaN,670.00,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,495614,1997-11-28,კაცი,ჯგუფი 1,51.0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,კაცი,2005.0,სედანი,d16a385eaade48a9d56e49f67b9042cafb31468c99fc8d...,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,NaN,1863.34,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,MotorPackage,529828,1991-11-03,ქალი,ჯგუფი 1,25.0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,კაცი,2014.0,სედანი,7196ee9bff091662d159a29850b3ee1d154484c5c2b927...,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,NaN,1289.04,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,553341,1998-09-20,კაცი,ჯგუფი 1,35.0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,ქალი,2013.0,მაღალი გამავლობის,997626cecc2e98440cf9273c9e508e43c86e93cdff48a3...,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,NaN,1351.61,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,27275,1996-11-05,კაცი,ჯგუფი 1,34.0

### 3. დამზღვევის სქესი	one hot encoder

In [14]:
data1['დამზღვევი ქალია'] = pd.get_dummies(data1["დამზღვევის სქესი"], drop_first=True, prefix='is_')

In [15]:
data1.drop(columns='დამზღვევის სქესი',inplace=True)

In [16]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მანქანის წელი,სედანი/ჯიპი,VinCode (hash),მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პროდუქტი,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,2013.0,ჰეტჩბეკი,431c1efe08a32bf6c68413502084288d6e324f3da3fe62...,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,NaN,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,MotorPackage,398842,1989-06-14,ქალი,ჯგუფი 1,39.0,1
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,1998.0,ჰეტჩბეკი,843ddfb4b17a8dc44dbcc165d36786798fcc253933ec29...,70720759877097d63afb1e59d5f535413076b92a48e616...,NaN,670.00,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,495614,1997-11-28,კაცი,ჯგუფი 1,51.0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,2005.0,სედანი,d16a385eaade48a9d56e49f67b9042cafb31468c99fc8d...,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,NaN,1863.34,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,MotorPackage,529828,1991-11-03,ქალი,ჯგუფი 1,25.0,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,2014.0,სედანი,7196ee9bff091662d159a29850b3ee1d154484c5c2b927...,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,NaN,1289.04,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,553341,1998-09-20,კაცი,ჯგუფი 1,35.0,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,2013.0,მაღალი გამავლობის,997626cecc2e98440cf9273c9e508e43c86e93cdff48a3...,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,NaN,1351.61,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,27275,1996-11-05,კაცი,ჯგუფი 1,34.0,1

### 4. drop vincode

In [17]:
data1.drop(columns='VinCode (hash)',inplace=True)

### 5. convert to Client Category (hash)

In [18]:
data1['Client Category (hash)'].value_counts()

4b4a73aaf5d1997dd39e6215302cf2757b8e4da9b9d751006a0ff4aae7f94312    1608
Name: Client Category (hash), dtype: int64

In [19]:
data1['Client Category (hash)'].fillna(value=0,inplace = True)

In [20]:
data1['Client Category (hash)'].value_counts()

0                                                                   4193
4b4a73aaf5d1997dd39e6215302cf2757b8e4da9b9d751006a0ff4aae7f94312    1608
Name: Client Category (hash), dtype: int64

In [21]:
cond = [data1['Client Category (hash)'] != 0]
data1['Client Category (hash)'] = np.where(cond, 1, 0)[0]

In [22]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მანქანის წელი,სედანი/ჯიპი,მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პროდუქტი,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,2013.0,ჰეტჩბეკი,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,MotorPackage,398842,1989-06-14,ქალი,ჯგუფი 1,39.0,1
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,1998.0,ჰეტჩბეკი,70720759877097d63afb1e59d5f535413076b92a48e616...,0,670.00,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,495614,1997-11-28,კაცი,ჯგუფი 1,51.0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,2005.0,სედანი,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,0,1863.34,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,MotorPackage,529828,1991-11-03,ქალი,ჯგუფი 1,25.0,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,2014.0,სედანი,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,0,1289.04,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,553341,1998-09-20,კაცი,ჯგუფი 1,35.0,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,2013.0,მაღალი გამავლობის,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,0,1351.61,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,27275,1996-11-05,კაცი,ჯგუფი 1,34.0,1

### 6. გაუქმებული პრემია

In [23]:
data1['გაუქმებული პრემია'].fillna(value=0,inplace = True)

In [24]:
cond = [data1['გაუქმებული პრემია'] != 0]
data1['ბოლომდე არ გადაიხადა'] = np.where(cond, 1, 0)[0]

In [25]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მანქანის წელი,სედანი/ჯიპი,მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პროდუქტი,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,2013.0,ჰეტჩბეკი,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,MotorPackage,398842,1989-06-14,ქალი,ჯგუფი 1,39.0,1,1
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,1998.0,ჰეტჩბეკი,70720759877097d63afb1e59d5f535413076b92a48e616...,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,495614,1997-11-28,კაცი,ჯგუფი 1,51.0,0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,2005.0,სედანი,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,MotorPackage,529828,1991-11-03,ქალი,ჯგუფი 1,25.0,0,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,2014.0,სედანი,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,553341,1998-09-20,კაცი,ჯგუფი 1,35.0,0,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,2013.0,მაღალი გამავლობის,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,27275,1996-11-05,კაცი,ჯგუფი 1,34.0,1,0

# calculate paying month

In [26]:
data1['გასული_პერიოდი_გაუქმებამდე'] = data1['გაუქმების თარიღი'] - data1['რეგისტრაციის თარიღი']

In [27]:
data1.loc[data1['გასული_პერიოდი_გაუქმებამდე'] < datetime.timedelta(days=0), 'გასული_პერიოდი_გაუქმებამდე'] = datetime.timedelta(days=0)

In [28]:
data1['გასული_პერიოდი_გაუქმებამდე'] = data1['გასული_პერიოდი_გაუქმებამდე'].dt.days

In [29]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მანქანის წელი,სედანი/ჯიპი,მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პროდუქტი,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,2013.0,ჰეტჩბეკი,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,MotorPackage,398842,1989-06-14,ქალი,ჯგუფი 1,39.0,1,1,62.0
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,1998.0,ჰეტჩბეკი,70720759877097d63afb1e59d5f535413076b92a48e616...,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,495614,1997-11-28,კაცი,ჯგუფი 1,51.0,0,0,NaN
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,2005.0,სედანი,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,MotorPackage,529828,1991-11-03,ქალი,ჯგუფი 1,25.0,0,0,NaN
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,2014.0,სედანი,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,553341,1998-09-20,კაცი,ჯგუფი 1,35.0,0,0,NaN
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,2013.0,მაღალი გამავლობის,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,27275,1996-11-05,კაცი,ჯგუფი 1,34.0,1,0,NaN

# Type of product

In [30]:
data1['პროდუქტი'].value_counts()

MotorPackage              4527
PropertyPackage            825
TravelPackage              374
Motor TPL Package           61
CPMPackage                   8
CriticalIllnessPackage       3
AgroPackage                  2
CargoPackage                 1
Name: პროდუქტი, dtype: int64

In [31]:
data1_dummies = pd.get_dummies(data1['პროდუქტი'])

In [32]:
data1 = pd.concat([data1, data1_dummies], axis=1)

In [33]:
data1.drop('პროდუქტი', axis=1, inplace=True)

In [34]:
display_all(data1.head(8))

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მანქანის წელი,სედანი/ჯიპი,მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,AgroPackage,CPMPackage,CargoPackage,CriticalIllnessPackage,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,2013.0,ჰეტჩბეკი,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,398842,1989-06-14,ქალი,ჯგუფი 1,39.0,1,1,62.0,0,0,0,0,0,1,0,0
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,1998.0,ჰეტჩბეკი,70720759877097d63afb1e59d5f535413076b92a48e616...,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,495614,1997-11-28,კაცი,ჯგუფი 1,51.0,0,0,NaN,0,0,0,0,0,1,0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,2005.0,სედანი,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,529828,1991-11-03,ქალი,ჯგუფი 1,25.0,0,0,NaN,0,0,0,0,0,1,0,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,2014.0,სედანი,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,553341,1998-09-20,კაცი,ჯგუფი 1,35.0,0,0,NaN,0,0,0,0,0,1,0,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,2013.0,მაღალი გამავლობის,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,27275,1996-11-05,კაცი,ჯგუფი 1,34.0,1,0,NaN,0,0,0,0,0,1,0,0
5,16ae96c7d110c9a675d5727524bb57a47eca7aaa3cde35...,0,93b181a00dc90bbd9171b37723ebb8fa34b9125b5e614b...,2009.0,მაღალი გამავლობის,93b181a00dc90bbd9171b37723ebb8fa34b9125b5e614b...,0,914.20,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,30983,1990-08-25,ქალი,ჯგუფი 2,78.0,1,0,NaN,0,0,0,0,0,1,0,0
6,09f910ab74e83665ba8180b20106a3fbe27a8729c875a6...,0,3bc26c779f9bf6521b67d7a36d787e03401469f4fb3bbd...,1997.0,სატვირთო-სამგზავრო,3023a448c39953f5c9e31fd2052fb2a280af1a6c784134...,0,278.11,-161.09,2020-05-27,2019-10-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,598433,1992-08-12,ქალი,ჯგუფი 1,35.0,0,1,154.0,0,0,0,0,0,1,0,0
7,1ab5af0bc38262afbf27fb757fc488781060313f44fb8f...,0,a99bfafb74c45ed6333f345d9c1c45aed24148fd455ca2...,NaN,NaN,a99bfafb74c45ed6333f345d9c1c45aed24148fd455ca2...,0,382.50,0.00,2019-10-30,NaT,2019-05-28,NaT,Active,ახალი,0,30983,1990-08-25,ქალი,ჯგუფი 2,77.0,1,0,NaN,1,0,0,0,0,0,0,0

In [35]:
data1.drop(columns=['CargoPackage','AgroPackage','CriticalIllnessPackage','CPMPackage'],inplace=True)

In [36]:
data1.shape

(5801, 28)

In [37]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მანქანის წელი,სედანი/ჯიპი,მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,2013.0,ჰეტჩბეკი,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,398842,1989-06-14,ქალი,ჯგუფი 1,39.0,1,1,62.0,0,1,0,0
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,1998.0,ჰეტჩბეკი,70720759877097d63afb1e59d5f535413076b92a48e616...,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,495614,1997-11-28,კაცი,ჯგუფი 1,51.0,0,0,NaN,0,1,0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,2005.0,სედანი,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,529828,1991-11-03,ქალი,ჯგუფი 1,25.0,0,0,NaN,0,1,0,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,2014.0,სედანი,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,553341,1998-09-20,კაცი,ჯგუფი 1,35.0,0,0,NaN,0,1,0,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,2013.0,მაღალი გამავლობის,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,27275,1996-11-05,კაცი,ჯგუფი 1,34.0,1,0,NaN,0,1,0,0

# One hot encode car year by decades 1990, 2000, 2010

In [38]:
data1.loc[data1['მანქანის წელი'] >= 2010, 'მანქანის წელი'] = 2010

In [39]:
data1.loc[(data1['მანქანის წელი'] >= 2000) & (data1['მანქანის წელი'] < 2010), 'მანქანის წელი'] = 2000

In [40]:
data1.loc[data1['მანქანის წელი'] < 2000, 'მანქანის წელი'] = 1990

In [41]:
data1['მანქანის წელი'].fillna(value=0,inplace = True)

In [42]:
data1['მანქანის წელი'] = data1['მანქანის წელი'].astype(str)

In [43]:
data1_dummies = pd.get_dummies(data1['მანქანის წელი'])

In [44]:
data1 = pd.concat([data1, data1_dummies], axis=1)

In [45]:
data1.drop(['მანქანის წელი', '0.0'], axis=1, inplace=True)

In [46]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,398842,1989-06-14,ქალი,ჯგუფი 1,39.0,1,1,62.0,0,1,0,0,0,0,1
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,70720759877097d63afb1e59d5f535413076b92a48e616...,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,495614,1997-11-28,კაცი,ჯგუფი 1,51.0,0,0,NaN,0,1,0,0,1,0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,529828,1991-11-03,ქალი,ჯგუფი 1,25.0,0,0,NaN,0,1,0,0,0,1,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,553341,1998-09-20,კაცი,ჯგუფი 1,35.0,0,0,NaN,0,1,0,0,0,0,1
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,27275,1996-11-05,კაცი,ჯგუფი 1,34.0,1,0,NaN,0,1,0,0,0,0,1

# თანამშრომლის სქესი one hot encode

In [47]:
data1['თანამშრომლი ქალია'] = pd.get_dummies(data1["თანამშრომლის სქესი"], drop_first=True)

In [48]:
data1.drop(columns='თანამშრომლის სქესი', inplace=True)

In [49]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0,თანამშრომლი ქალია
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,398842,1989-06-14,ჯგუფი 1,39.0,1,1,62.0,0,1,0,0,0,0,1,1
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,70720759877097d63afb1e59d5f535413076b92a48e616...,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,495614,1997-11-28,ჯგუფი 1,51.0,0,0,NaN,0,1,0,0,1,0,0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,529828,1991-11-03,ჯგუფი 1,25.0,0,0,NaN,0,1,0,0,0,1,0,1
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,553341,1998-09-20,ჯგუფი 1,35.0,0,0,NaN,0,1,0,0,0,0,1,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,27275,1996-11-05,ჯგუფი 1,34.0,1,0,NaN,0,1,0,0,0,0,1,0

### 2. calculate age from პასუხისმგებლის დაბადების თარიღი

In [50]:
data1['პასუხისმგებლის დაბადების თარიღი'] = pd.to_datetime(data1['პასუხისმგებლის დაბადების თარიღი'], errors = 'coerce')

In [51]:
data1['პასუხისმგებლის ასაკი'] = (pd.datetime.today().year - data1['პასუხისმგებლის დაბადების თარიღი'].dt.year)

In [52]:
data1.drop(columns='პასუხისმგებლის დაბადების თარიღი', inplace=True)

In [53]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პასუხისმგებელი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0,თანამშრომლი ქალია,პასუხისმგებლის ასაკი
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,398842,ჯგუფი 1,39.0,1,1,62.0,0,1,0,0,0,0,1,1,30
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,70720759877097d63afb1e59d5f535413076b92a48e616...,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,495614,ჯგუფი 1,51.0,0,0,NaN,0,1,0,0,1,0,0,0,22
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,529828,ჯგუფი 1,25.0,0,0,NaN,0,1,0,0,0,1,0,1,28
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,553341,ჯგუფი 1,35.0,0,0,NaN,0,1,0,0,0,0,1,0,21
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,27275,ჯგუფი 1,34.0,1,0,NaN,0,1,0,0,0,0,1,0,23

# არის დამზღვევი მესაკუთრე?

In [54]:
cond = [data1['დამზღ პირადი ნომერი (hash)'] == data1['მესაკუთრე (hash)']]

In [55]:
data1['დამზღ არის მესაკუთრე'] = np.where(cond, 1, 0)[0]

In [56]:
data1.drop('მესაკუთრე (hash)', axis=1, inplace=True)

In [57]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პასუხისმგებელი,არხი,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0,თანამშრომლი ქალია,პასუხისმგებლის ასაკი,დამზღ არის მესაკუთრე
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,398842,ჯგუფი 1,39.0,1,1,62.0,0,1,0,0,0,0,1,1,30,1
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,495614,ჯგუფი 1,51.0,0,0,NaN,0,1,0,0,1,0,0,0,22,1
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,529828,ჯგუფი 1,25.0,0,0,NaN,0,1,0,0,0,1,0,1,28,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,553341,ჯგუფი 1,35.0,0,0,NaN,0,1,0,0,0,0,1,0,21,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,27275,ჯგუფი 1,34.0,1,0,NaN,0,1,0,0,0,0,1,0,23,1

# პასუხისმგებელი კატეგორიული

In [58]:
data1.drop(columns=['პასუხისმგებელი'],inplace=True)

## არხი

In [59]:
data1.არხი.value_counts()

ჯგუფი 1    4634
ჯგუფი 3     754
ჯგუფი 2     413
Name: არხი, dtype: int64

In [60]:
data1_dummies = pd.get_dummies(data1['არხი'])

In [61]:
data1 = pd.concat([data1, data1_dummies], axis=1)

In [62]:
data1.drop(['არხი'], axis=1, inplace=True)

In [63]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0,თანამშრომლი ქალია,პასუხისმგებლის ასაკი,დამზღ არის მესაკუთრე,ჯგუფი 1,ჯგუფი 2,ჯგუფი 3
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,39.0,1,1,62.0,0,1,0,0,0,0,1,1,30,1,1,0,0
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,51.0,0,0,NaN,0,1,0,0,1,0,0,0,22,1,1,0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,25.0,0,0,NaN,0,1,0,0,0,1,0,1,28,0,1,0,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,35.0,0,0,NaN,0,1,0,0,0,0,1,0,21,0,1,0,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,34.0,1,0,NaN,0,1,0,0,0,0,1,0,23,1,1,0,0

In [64]:
new_data = data1.copy()

# Claims
1. მოთხოვნილი - ??
2. ანაზღაურებული - ?
3. status - მოთხოვნის შემდეგ რა სტადიაშია განაცხადი, ra aris nan valuebi? stadiebis tanmimdevroba?

In [65]:
data2 = pd.read_excel('TBC_Insurance.xlsx', 'Claims')
data2.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მოთხოვნილი,ანაზღაურებული,status
0,8db2524c6a0cc24c40728a4cd2c8ea61bd46a16bff2a91...,80a284b3dc8430668a5164aa0b546f98dcbbfff98e2bf0...,200,0.0,დახურულია უფროსის მიერ
1,e06baaf78259d3fb9cb9812a74ff6aae688c17db191f28...,217766e18fb9c8206991d67759d8074fb5916d17d392f8...,140,140.0,დასრულებულია
2,70971bc5a020e1ee98a8cd09339d8132057f32c5629cbd...,2787baf52cb7b621f83046e140188d628fb79c2c0f1f1f...,0,0.0,NaN
3,65bccc36279ecc25c810548791f783aedf1232189593d6...,4f1c2bf0b8e5be2233ffeaf73f4625ccbf3aad145a9bce...,0,0.0,NaN
4,d83dcd56cc8956b846224634ae7f7ab5715dc390f01e74...,27b7df60738682715f883edc0de36a055129ad9284379f...,400,430.0,Settlement transferred Web

In [66]:
data2['status'].fillna(value = 'no_status',inplace=True)

In [67]:
data2['status'].value_counts()

no_status                                 4927
დასრულებულია                               623
Settlement transferred Web                 396
დახურულია უფროსის მიერ                     271
Settlement transferred Call                146
დასრულებულია სატელეფონო ზარით               49
მოლოდინი                                    34
მზადაა დარეგულირებისთვის                    27
გადაეცა უფროსს                              20
მუშავდება                                   13
დამტკიცებულია ოფიცერის მიერ                 12
დასრულებულია Web-ით (ვერ გადაირიცხა)         7
მზადაა Web დარეგულირებისთვის                 2
დაუბრუნდა ოფიცერს                            2
დამტკიცებულია დირექტორის მიერ                1
გადაეცა  იურისტს                             1
დამტკიცებულია უფროსის მიერ                   1
გადაეცა დირექტორს                            1
დამტკიცებულია მოადგილის/მენეჯერის მიერ       1
Name: status, dtype: int64

In [68]:
data2['status'] = data2['status'].map({'მოლოდინი':'პროცესშია',
                      'მზადაა დარეგულირებისთვის':'პროცესშია',
                     'გადაეცა უფროსს':'პროცესშია',
                     'მუშავდება':'პროცესშია',
                     'დასრულებულია Web-ით (ვერ გადაირიცხა)':'პროცესშია',
                     'დაუბრუნდა ოფიცერს':'პროცესშია',
                     'მზადაა Web დარეგულირებისთვის':'პროცესშია',
                     'გადაეცა დირექტორს':'პროცესშია',
                     'დამტკიცებულია დირექტორის მიერ':'პროცესშია',
                     'გადაეცა  იურისტს':'პროცესშია',
                     'დამტკიცებულია მოადგილის/მენეჯერის მიერ':'პროცესშია',
                        'დამტკიცებულია უფროსის მიერ':'დასრულებულია',              
                                       
                     'no_status':'no_status',
                                       
                    'დასრულებულია':'დასრულებულია',
                                       'Settlement transferred Web':'დასრულებულია',
                                       'დახურულია უფროსის მიერ':'დასრულებულია',
                                       'Settlement transferred Call':'დასრულებულია',
                                       'დასრულებულია სატელეფონო ზარით':'დასრულებულია',
                                       'დამტკიცებულია ოფიცერის მიერ':'დასრულებულია'
                                       
                     })

In [69]:
data2.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მოთხოვნილი,ანაზღაურებული,status
0,8db2524c6a0cc24c40728a4cd2c8ea61bd46a16bff2a91...,80a284b3dc8430668a5164aa0b546f98dcbbfff98e2bf0...,200,0.0,დასრულებულია
1,e06baaf78259d3fb9cb9812a74ff6aae688c17db191f28...,217766e18fb9c8206991d67759d8074fb5916d17d392f8...,140,140.0,დასრულებულია
2,70971bc5a020e1ee98a8cd09339d8132057f32c5629cbd...,2787baf52cb7b621f83046e140188d628fb79c2c0f1f1f...,0,0.0,no_status
3,65bccc36279ecc25c810548791f783aedf1232189593d6...,4f1c2bf0b8e5be2233ffeaf73f4625ccbf3aad145a9bce...,0,0.0,no_status
4,d83dcd56cc8956b846224634ae7f7ab5715dc390f01e74...,27b7df60738682715f883edc0de36a055129ad9284379f...,400,430.0,დასრულებულია

In [70]:
data2['status'].value_counts()

no_status       4927
დასრულებულია    1498
პროცესშია        109
Name: status, dtype: int64

In [71]:
cond1 = [( (data2['ანაზღაურებული'] - data2['მოთხოვნილი']) == 0 ) &
        (data2['ანაზღაურებული'] != 0) &
        (data2['მოთხოვნილი'] !=0 )]

In [72]:
data2['დაკმაყოფილებული'] = np.where(cond1 , 1, 0)[0]

In [73]:
cond2 = [(data2['ანაზღაურებული'] ==  0) &
        (data2['status']!='პროცესშია') &
        (data2['status']!='no_status')]

In [74]:
data2['დაუკმაყოფილებელი'] = np.where(cond2 , 1, 0)[0]

In [75]:
cond3 = [ ( (data2['მოთხოვნილი'] - data2['ანაზღაურებული']) > 0) 
         & ((data2['მოთხოვნილი'] - data2['ანაზღაურებული'])< data2['მოთხოვნილი'])]

In [76]:
data2['ნაკლებად_დაკმაყოფილებული'] = np.where(cond3 , 1, 0)[0]

In [77]:
cond4 = [(data2['ანაზღაურებული'] - data2['მოთხოვნილი']) > 0]

In [78]:
data2['ზედმეტად_დაკმაყოფილებული'] = np.where(cond4 , 1, 0)[0]

In [79]:
display_all(data2.head(5))

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მოთხოვნილი,ანაზღაურებული,status,დაკმაყოფილებული,დაუკმაყოფილებელი,ნაკლებად_დაკმაყოფილებული,ზედმეტად_დაკმაყოფილებული
0,8db2524c6a0cc24c40728a4cd2c8ea61bd46a16bff2a91...,80a284b3dc8430668a5164aa0b546f98dcbbfff98e2bf0...,200,0.0,დასრულებულია,0,1,0,0
1,e06baaf78259d3fb9cb9812a74ff6aae688c17db191f28...,217766e18fb9c8206991d67759d8074fb5916d17d392f8...,140,140.0,დასრულებულია,1,0,0,0
2,70971bc5a020e1ee98a8cd09339d8132057f32c5629cbd...,2787baf52cb7b621f83046e140188d628fb79c2c0f1f1f...,0,0.0,no_status,0,0,0,0
3,65bccc36279ecc25c810548791f783aedf1232189593d6...,4f1c2bf0b8e5be2233ffeaf73f4625ccbf3aad145a9bce...,0,0.0,no_status,0,0,0,0
4,d83dcd56cc8956b846224634ae7f7ab5715dc390f01e74...,27b7df60738682715f883edc0de36a055129ad9284379f...,400,430.0,დასრულებულია,0,0,0,1

In [80]:
data2_dummies = pd.get_dummies(data2['status'])

In [81]:
data2 = pd.concat([data2, data2_dummies], axis=1)

In [82]:
data2.drop('status', axis=1, inplace=True)

In [83]:
display_all(data2.head(10))

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მოთხოვნილი,ანაზღაურებული,დაკმაყოფილებული,დაუკმაყოფილებელი,ნაკლებად_დაკმაყოფილებული,ზედმეტად_დაკმაყოფილებული,no_status,დასრულებულია,პროცესშია
0,8db2524c6a0cc24c40728a4cd2c8ea61bd46a16bff2a91...,80a284b3dc8430668a5164aa0b546f98dcbbfff98e2bf0...,200,0.0,0,1,0,0,0,1,0
1,e06baaf78259d3fb9cb9812a74ff6aae688c17db191f28...,217766e18fb9c8206991d67759d8074fb5916d17d392f8...,140,140.0,1,0,0,0,0,1,0
2,70971bc5a020e1ee98a8cd09339d8132057f32c5629cbd...,2787baf52cb7b621f83046e140188d628fb79c2c0f1f1f...,0,0.0,0,0,0,0,1,0,0
3,65bccc36279ecc25c810548791f783aedf1232189593d6...,4f1c2bf0b8e5be2233ffeaf73f4625ccbf3aad145a9bce...,0,0.0,0,0,0,0,1,0,0
4,d83dcd56cc8956b846224634ae7f7ab5715dc390f01e74...,27b7df60738682715f883edc0de36a055129ad9284379f...,400,430.0,0,0,0,1,0,1,0
5,3b4f8f93029f45e68ebe40dee554e510809cb80f92fbbe...,c1451919c424d3ed4b3dd298cad1d1912b9e60850279e4...,0,0.0,0,0,0,0,1,0,0
6,017e0e30b03797893f3a69837e57c6ba116445f3b0c78f...,4bd7e79b8d52f022261495c47c8d66cf73b6b51d223285...,0,0.0,0,0,0,0,1,0,0
7,77a490b8e026aef77d256fe2b99d125eb5c7627e657de2...,df9f3eb70ea98f1b2be5a58c0ce3e6fa9db1f5a59b2e1b...,0,0.0,0,0,0,0,1,0,0
8,b29a1e054fc03f8957d5613eb7c132813fb5d68a291823...,d94491c72cd266c9be341198b54ee86935c2c1caece7e8...,0,0.0,0,0,0,0,1,0,0
9,ce87bad5f1c299200a2feb56a3b1f29662abc0ae7157b5...,966ae1aa64c750f4a4eee70330c59affc39652fc92b7fd...,0,0.0,0,0,0,0,1,0,0

# Car_washing
1. wash_date - manqanis garecxva, bolo tarigi ar aris eg?

In [84]:
data3 = pd.read_excel('TBC_Insurance.xlsx', 'Car_Washing')
data3.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),wash_date
0,f55c9b3095776a3ec0fd65a0f9d55139aa3979b4ea8a8f...,edffe82d8db952325474bd1d4ad3ad8badfd2173df7fa7...,2019-08-01
1,c65e34d26a944e1778279af0b7634ed02aa4f9222af6eb...,7c2355697fa001550fb2c2e79b0ff65c526f2e7e3b783b...,2019-08-01
2,8bb599e620f620428856a3f31fed8c155042e924fa50db...,03965169d3f1fb77a53b9a338b9b04d175a57d96c6e143...,2019-08-01
3,d258916caae2e9fca8e7643993ae4aef689d82ab1afddc...,f95aac3f5028bfcd3e8fe467a9771793c60cb4f049a048...,2019-08-01
4,ef79413de11d507c90a3d532df2e3d92141b9bc4926478...,c3d508d9da6cdbd1019c6bd2067ecda12641d2f765c63c...,2019-08-01

In [85]:
data3_F = data3.groupby(['პოლისის ნომერი (hash)', 'დამზღ პირადი ნომერი (hash)']).size().reset_index(name="გარეცხვის რაოდენობა")

In [86]:
data3_F.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),გარეცხვის რაოდენობა
0,0042e190c8df21c6c40009bf788953642e3a3a24fd6913...,c9b8dd36446b4730d477687f5c3f0e946f2cc31959bdc0...,2
1,0100803743a5e07bf2c8242e777c598974c8a3fdf11f66...,6258c2bfe9e9665c6bb23d1bb775ebc19dd0af5da7dad0...,3
2,01062b3fcada96c53ec2b9b4a77829228f242617d539ec...,04e0b13627b5f38d3f6fb382d766c099573c625f8bb594...,6
3,012bf23d1f833aaff6ed192c518202005592272bbd042c...,b4d8fdb3cfba6b5becff2b4c9b34080a6261deff605d5c...,1
4,01ea0ffab9240717707afe92edc5bc52e8fe203d0200f7...,e6c6d8bb5fbde777dd261c847b82c9e0e550b63137d03b...,1

# Call_In_Abandon
1. in_abandon - ra zarebia? rogor dgindeba poliis nomeri da damzgvevis piri am darekvis shedegad? nebismieriramis gamo rekavs callcentrshi

In [87]:
data4 = pd.read_excel('TBC_Insurance.xlsx', 'Call_In_Abandon')
data4.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),in_abandon
0,00e6c43416a13d5cda176b10ae49c4d0b9aff6c6e62cbb...,e1dd184ec71d9aaa7e56d3f367e5485ebedbbe1ad67700...,1
1,1ab5af0bc38262afbf27fb757fc488781060313f44fb8f...,a99bfafb74c45ed6333f345d9c1c45aed24148fd455ca2...,1
2,fdef89dd1c0887534c183bbb149d4db5c1404ac1a82db0...,98621e262492b42751560d3d418477f7a0f247c11eaeed...,1
3,d298461e119e0fd56da4746100d282a2cae21ae7f4a4d6...,3e955456e8fdb52d11bb3740588b2e1a9069ca54b73668...,2
4,79cf90086355bc860083a168228d8a7c14bf273dde968e...,cdc52259eb4323d8754485608d285d8db41185141b7b4a...,1

# Call_Out_Abandon
1. rom urekaven upasuxod darchaa

In [88]:
data5 = pd.read_excel('TBC_Insurance.xlsx', 'Call_Out_Abandon')
data5.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),out_abandon
0,3c32718a003f9a45d7f2a7405f08fee6894c5274b8d881...,9589654c016b6e00f3b28e881b4d9b7043fdda1b7ca7fe...,1
1,79bcc685634ca51ced5f003b0b8682a702aeac224e6a48...,84d5aa69984c29c0d21bb883766c18f673a9f097d55afe...,6
2,0340ba919e5ce3b6845661efae377e1801103947f87a8a...,0b3d2c19b101cc32cb31679cd535acc3e31a128990aae4...,1
3,e7c9d5b8e4d90da47fbc60acb64b658bd5dae61115885a...,85bfa6a4cc43e35e6d49ed8169984b4b17d1820e557d33...,1
4,1e0ad4c02c266d54cdc69fc9c460ed1d6990926a50a6de...,ee4ad34bbbb5fd4241c295a6966cee8455e4898ba2e57a...,2

# Call_in_Answered
1. in_answered - gasagebia

In [89]:
data6 = pd.read_excel('TBC_Insurance.xlsx', 'Call_in_Answered')
data6.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),in_answered
0,00e6c43416a13d5cda176b10ae49c4d0b9aff6c6e62cbb...,e1dd184ec71d9aaa7e56d3f367e5485ebedbbe1ad67700...,4
1,1ab5af0bc38262afbf27fb757fc488781060313f44fb8f...,a99bfafb74c45ed6333f345d9c1c45aed24148fd455ca2...,4
2,fdef89dd1c0887534c183bbb149d4db5c1404ac1a82db0...,98621e262492b42751560d3d418477f7a0f247c11eaeed...,5
3,86580cc914939b1173b37a06d68ee29628de44f0f446c1...,978926a75e8f6ff5ca229698c7db06cd36a2147d68b51f...,4
4,d298461e119e0fd56da4746100d282a2cae21ae7f4a4d6...,3e955456e8fdb52d11bb3740588b2e1a9069ca54b73668...,1

# Call_out_answered
1. darekes da upasuxes

In [90]:
data7 = pd.read_excel('TBC_Insurance.xlsx', 'Call_out_answered')
data7.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),out_answered
0,fdef89dd1c0887534c183bbb149d4db5c1404ac1a82db0...,98621e262492b42751560d3d418477f7a0f247c11eaeed...,3
1,d298461e119e0fd56da4746100d282a2cae21ae7f4a4d6...,3e955456e8fdb52d11bb3740588b2e1a9069ca54b73668...,2
2,942d9de8d7272aae88e8162b0fb66ea8509cf9fd1f0da0...,1901355c66e56fc4ca63eeb365e9b07794ffc61a7009db...,1
3,8cbd07872000fe4d5e4333171dfe1e443dfee26d1a0b55...,c48ad2c0e93f192385edcc7d614b876bc0fe70eb80e05c...,1
4,2e18f868150162d893129384ca137d9d2d8de36ef48a70...,fb8058b27464cf16c5566e2cbce184d1eb2da2f5177fa7...,1

# Merge

In [91]:
data1.shape

(5801, 31)

In [92]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0,თანამშრომლი ქალია,პასუხისმგებლის ასაკი,დამზღ არის მესაკუთრე,ჯგუფი 1,ჯგუფი 2,ჯგუფი 3
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,39.0,1,1,62.0,0,1,0,0,0,0,1,1,30,1,1,0,0
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,51.0,0,0,NaN,0,1,0,0,1,0,0,0,22,1,1,0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,25.0,0,0,NaN,0,1,0,0,0,1,0,1,28,0,1,0,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,35.0,0,0,NaN,0,1,0,0,0,0,1,0,21,0,1,0,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,34.0,1,0,NaN,0,1,0,0,0,0,1,0,23,1,1,0,0

In [93]:
data2.shape

(6534, 11)

In [94]:
display_all(data2.head())

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მოთხოვნილი,ანაზღაურებული,დაკმაყოფილებული,დაუკმაყოფილებელი,ნაკლებად_დაკმაყოფილებული,ზედმეტად_დაკმაყოფილებული,no_status,დასრულებულია,პროცესშია
0,8db2524c6a0cc24c40728a4cd2c8ea61bd46a16bff2a91...,80a284b3dc8430668a5164aa0b546f98dcbbfff98e2bf0...,200,0.0,0,1,0,0,0,1,0
1,e06baaf78259d3fb9cb9812a74ff6aae688c17db191f28...,217766e18fb9c8206991d67759d8074fb5916d17d392f8...,140,140.0,1,0,0,0,0,1,0
2,70971bc5a020e1ee98a8cd09339d8132057f32c5629cbd...,2787baf52cb7b621f83046e140188d628fb79c2c0f1f1f...,0,0.0,0,0,0,0,1,0,0
3,65bccc36279ecc25c810548791f783aedf1232189593d6...,4f1c2bf0b8e5be2233ffeaf73f4625ccbf3aad145a9bce...,0,0.0,0,0,0,0,1,0,0
4,d83dcd56cc8956b846224634ae7f7ab5715dc390f01e74...,27b7df60738682715f883edc0de36a055129ad9284379f...,400,430.0,0,0,0,1,0,1,0

In [95]:
data2.drop_duplicates(inplace=True)

In [96]:
test = pd.merge(data1, data2, on=['პოლისის ნომერი (hash)','დამზღ პირადი ნომერი (hash)'], how = 'left')

In [97]:
display_all(test.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0,თანამშრომლი ქალია,პასუხისმგებლის ასაკი,დამზღ არის მესაკუთრე,ჯგუფი 1,ჯგუფი 2,ჯგუფი 3,მოთხოვნილი,ანაზღაურებული,დაკმაყოფილებული,დაუკმაყოფილებელი,ნაკლებად_დაკმაყოფილებული,ზედმეტად_დაკმაყოფილებული,no_status,დასრულებულია,პროცესშია
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,39.0,1,1,62.0,0,1,0,0,0,0,1,1,30,1,1,0,0,200,0.0,0,1,0,0,0,1,0
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,51.0,0,0,NaN,0,1,0,0,1,0,0,0,22,1,1,0,0,0,0.0,0,0,0,0,1,0,0
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,25.0,0,0,NaN,0,1,0,0,0,1,0,1,28,0,1,0,0,450,450.0,1,0,0,0,0,1,0
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,35.0,0,0,NaN,0,1,0,0,0,0,1,0,21,0,1,0,0,0,0.0,0,0,0,0,1,0,0
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,34.0,1,0,NaN,0,1,0,0,0,0,1,0,23,1,1,0,0,0,0.0,0,0,0,0,1,0,0

In [98]:
test.shape

(6400, 40)

In [99]:
test1 = pd.merge(test, data3_F, on=['პოლისის ნომერი (hash)','დამზღ პირადი ნომერი (hash)'], how = 'left')

In [100]:
test1.shape

(6400, 41)

In [101]:
test2 = pd.merge(test1, data4, on=['პოლისის ნომერი (hash)','დამზღ პირადი ნომერი (hash)'], how = 'left')

In [102]:
test2.shape

(6400, 42)

In [103]:
test3 = pd.merge(test2, data5, on=['პოლისის ნომერი (hash)','დამზღ პირადი ნომერი (hash)'], how = 'left')

In [104]:
test3.shape

(6400, 43)

In [105]:
test4 = pd.merge(test3, data6, on=['პოლისის ნომერი (hash)','დამზღ პირადი ნომერი (hash)'], how = 'left')

In [106]:
test4.shape

(6400, 44)

In [169]:
test5 = pd.merge(test4, data7, on=['პოლისის ნომერი (hash)','დამზღ პირადი ნომერი (hash)'], how = 'left')

In [170]:
test5.shape

(6400, 45)

In [171]:
display_all(test5.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0,თანამშრომლი ქალია,პასუხისმგებლის ასაკი,დამზღ არის მესაკუთრე,ჯგუფი 1,ჯგუფი 2,ჯგუფი 3,მოთხოვნილი,ანაზღაურებული,დაკმაყოფილებული,დაუკმაყოფილებელი,ნაკლებად_დაკმაყოფილებული,ზედმეტად_დაკმაყოფილებული,no_status,დასრულებულია,პროცესშია,გარეცხვის რაოდენობა,in_abandon,out_abandon,in_answered,out_answered
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,39.0,1,1,62.0,0,1,0,0,0,0,1,1,30,1,1,0,0,200,0.0,0,1,0,0,0,1,0,NaN,NaN,NaN,1.0,NaN
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,0,670.00,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,51.0,0,0,NaN,0,1,0,0,1,0,0,0,22,1,1,0,0,0,0.0,0,0,0,0,1,0,0,NaN,NaN,NaN,1.0,NaN
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,0,1863.34,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,25.0,0,0,NaN,0,1,0,0,0,1,0,1,28,0,1,0,0,450,450.0,1,0,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,0,1289.04,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,35.0,0,0,NaN,0,1,0,0,0,0,1,0,21,0,1,0,0,0,0.0,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,0,1351.61,0.00,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,34.0,1,0,NaN,0,1,0,0,0,0,1,0,23,1,1,0,0,0,0.0,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN

## თარიღი გაუქმებამდე ან დღევანდელ დღემდე თუ გაუქმებული არ არის

In [172]:
test5['გაუქმების თარიღი'] = test5['გაუქმების თარიღი'].fillna(pd.Timestamp(2019, 12, 8))

In [178]:
test5['გასული_პერიოდი_გაუქმებამდე'] = test5['გაუქმების თარიღი'] - test5['ამოქმედების თარიღი']

In [177]:
test5['ამოქმედების თარიღი'].isnull().any()

False

In [179]:
test5.loc[test5['გასული_პერიოდი_გაუქმებამდე'] < datetime.timedelta(days=0), 'გასული_პერიოდი_გაუქმებამდე'] = datetime.timedelta(days=0)

In [180]:
test5['გასული_პერიოდი_გაუქმებამდე'] = test5['გასული_პერიოდი_გაუქმებამდე'].dt.days

In [181]:
display_all(test5.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0,თანამშრომლი ქალია,პასუხისმგებლის ასაკი,დამზღ არის მესაკუთრე,ჯგუფი 1,ჯგუფი 2,ჯგუფი 3,მოთხოვნილი,ანაზღაურებული,დაკმაყოფილებული,დაუკმაყოფილებელი,ნაკლებად_დაკმაყოფილებული,ზედმეტად_დაკმაყოფილებული,no_status,დასრულებულია,პროცესშია,გარეცხვის რაოდენობა,in_abandon,out_abandon,in_answered,out_answered
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,0,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,39.0,1,1,61,0,1,0,0,0,0,1,1,30,1,1,0,0,200,0.0,0,1,0,0,0,1,0,NaN,NaN,NaN,1.0,NaN
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,0,670.00,0.00,2020-05-27,2019-12-08,2019-05-28,2019-05-27,Active,ახალი,0,51.0,0,0,194,0,1,0,0,1,0,0,0,22,1,1,0,0,0,0.0,0,0,0,0,1,0,0,NaN,NaN,NaN,1.0,NaN
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,0,1863.34,0.00,2020-05-27,2019-12-08,2019-05-28,2019-05-27,Active,ახალი,11,25.0,0,0,194,0,1,0,0,0,1,0,1,28,0,1,0,0,450,450.0,1,0,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,0,1289.04,0.00,2020-05-27,2019-12-08,2019-05-28,2019-05-27,Active,ახალი,0,35.0,0,0,194,0,1,0,0,0,0,1,0,21,0,1,0,0,0,0.0,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,0,1351.61,0.00,2020-05-27,2019-12-08,2019-05-28,2019-05-27,Active,ახალი,0,34.0,1,0,194,0,1,0,0,0,0,1,0,23,1,1,0,0,0,0.0,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN

In [182]:
df_final = test5.drop(['დასრულების თარიღი', 'გაუქმების თარიღი', 'ამოქმედების თარიღი', 'რეგისტრაციის თარიღი',
                       'განახლება', ], axis=1)

In [183]:
display_all(df_final.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),სედანი/ჯიპი,Client Category (hash),პრემია,გაუქმებული პრემია,სტატუსი,ვადაგადაცილებული დღე,დამზღვევის ასაკი,დამზღვევი ქალია,ბოლომდე არ გადაიხადა,გასული_პერიოდი_გაუქმებამდე,Motor TPL Package,MotorPackage,PropertyPackage,TravelPackage,1990.0,2000.0,2010.0,თანამშრომლი ქალია,პასუხისმგებლის ასაკი,დამზღ არის მესაკუთრე,ჯგუფი 1,ჯგუფი 2,ჯგუფი 3,მოთხოვნილი,ანაზღაურებული,დაკმაყოფილებული,დაუკმაყოფილებელი,ნაკლებად_დაკმაყოფილებული,ზედმეტად_დაკმაყოფილებული,no_status,დასრულებულია,პროცესშია,გარეცხვის რაოდენობა,in_abandon,out_abandon,in_answered,out_answered
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,0,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,ჰეტჩბეკი,0,1682.57,-1397.54,Cancelled,0,39.0,1,1,61,0,1,0,0,0,0,1,1,30,1,1,0,0,200,0.0,0,1,0,0,0,1,0,NaN,NaN,NaN,1.0,NaN
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,0,70720759877097d63afb1e59d5f535413076b92a48e616...,ჰეტჩბეკი,0,670.00,0.00,Active,0,51.0,0,0,194,0,1,0,0,1,0,0,0,22,1,1,0,0,0,0.0,0,0,0,0,1,0,0,NaN,NaN,NaN,1.0,NaN
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,0,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,სედანი,0,1863.34,0.00,Active,11,25.0,0,0,194,0,1,0,0,0,1,0,1,28,0,1,0,0,450,450.0,1,0,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,0,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,სედანი,0,1289.04,0.00,Active,0,35.0,0,0,194,0,1,0,0,0,0,1,0,21,0,1,0,0,0,0.0,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,0,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,მაღალი გამავლობის,0,1351.61,0.00,Active,0,34.0,1,0,194,0,1,0,0,0,0,1,0,23,1,1,0,0,0,0.0,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN

In [184]:
df_final.isnull().sum()

პოლისის ნომერი (hash)            0
წინა პოლისის ნომერი (hash)       0
დამზღ პირადი ნომერი (hash)       0
სედანი/ჯიპი                   1221
Client Category (hash)           0
პრემია                           0
გაუქმებული პრემია                0
სტატუსი                          0
ვადაგადაცილებული დღე             0
დამზღვევის ასაკი                 2
დამზღვევი ქალია                  0
ბოლომდე არ გადაიხადა             0
გასული_პერიოდი_გაუქმებამდე       0
Motor TPL Package                0
MotorPackage                     0
PropertyPackage                  0
TravelPackage                    0
1990.0                           0
2000.0                           0
2010.0                           0
თანამშრომლი ქალია                0
პასუხისმგებლის ასაკი             0
დამზღ არის მესაკუთრე             0
ჯგუფი 1                          0
ჯგუფი 2                          0
ჯგუფი 3                          0
მოთხოვნილი                       0
ანაზღაურებული                    0
დაკმაყოფილებული                  0
დაუკმაყოფილებელი                 0
ნაკლებად_დაკმაყოფილებული         0
ზედმეტად_დაკმაყოფილებული         0
no_status                        0
დასრულებულია                     0
პროცესშია                        0
გარეცხვის რაოდენობა           5489
in_abandon                    6039
out_abandon                   6251
in_answered                   4364
out_answered                  5980
dtype: int64

In [185]:
df_final[['გარეცხვის რაოდენობა','in_abandon','out_abandon','in_answered','out_answered']]=df_final[['გარეცხვის რაოდენობა','in_abandon','out_abandon','in_answered','out_answered']].fillna(0)

In [186]:
df_final['სედანი/ჯიპი'].fillna(value='no_car',inplace=True)

In [187]:
df_final['დამზღვევის ასაკი'].fillna(value=45,inplace=True)

In [188]:
df_final.isnull().sum()

პოლისის ნომერი (hash)         0
წინა პოლისის ნომერი (hash)    0
დამზღ პირადი ნომერი (hash)    0
სედანი/ჯიპი                   0
Client Category (hash)        0
პრემია                        0
გაუქმებული პრემია             0
სტატუსი                       0
ვადაგადაცილებული დღე          0
დამზღვევის ასაკი              0
დამზღვევი ქალია               0
ბოლომდე არ გადაიხადა          0
გასული_პერიოდი_გაუქმებამდე    0
Motor TPL Package             0
MotorPackage                  0
PropertyPackage               0
TravelPackage                 0
1990.0                        0
2000.0                        0
2010.0                        0
თანამშრომლი ქალია             0
პასუხისმგებლის ასაკი          0
დამზღ არის მესაკუთრე          0
ჯგუფი 1                       0
ჯგუფი 2                       0
ჯგუფი 3                       0
მოთხოვნილი                    0
ანაზღაურებული                 0
დაკმაყოფილებული               0
დაუკმაყოფილებელი              0
ნაკლებად_დაკმაყოფილებული      0
ზედმეტად_დაკმაყოფილებული      0
no_status                     0
დასრულებულია                  0
პროცესშია                     0
გარეცხვის რაოდენობა           0
in_abandon                    0
out_abandon                   0
in_answered                   0
out_answered                  0
dtype: int64

In [189]:
df_final.to_csv(r'final.csv')